@import "./common.less";
@import "./variables.less";

body {
    color: @text-level-2-color;
    font-family: @font-family;
    font-size: @font-size-base;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 0;
  }
  
  pre {
    font-family: @font-family;
  }
  
  ul,
  dl,
  li,
  dd,
  dt {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }