@import './variables.less';
@import './font-family.less';

.@{prefix} {
    &-sidenav{
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1000;
        transition: all .3s;

        &-no-logo {
            z-index: 1;
            position: absolute;
        }

        &-logo-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 24px;

            >img {
                height: 28px;
            }
        }
        &-logo-normal {
            font-family: TencentSansKoreanW7;
            color: @primary-color;
            font-size: @font-size-l;
            transition: all .3s;
        }
    }


    &-sidenav-placeholder {
        flex: 1 1 232px;
        min-width: 232px;
        transition: all .3s;

        &-hidden {
            flex: 1 1 72px;
            min-width: 72px;
            transition: all .3s;
        }
    }

}

// 重写左边菜单高亮
.t-menu__item.t-is-active {
    color: white !important;
    background-color: #0052D9 !important;
}

.logo-container {
    cursor: pointer;
    display: inline-flex;
    height: 64px;
    margin-left: 24px;
  }
  // TODO 等待 Menu 组件升级后实现
  // .options-container > span {
  //   height: 40px;
  //   width: 40px;
  //   cursor: pointer;
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: 28px;
  //   &:hover {
  //     background: #ebedf1;
  //     border-radius: 4px;
  //   }
  // }
  
  .optional-icon {
    color: #000000;
    cursor: pointer;
  
    &:hover {
      color: @primary-color;
    }
  }